<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Getting Started: Handling Form Submission</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:if="${result == 'Tarefa iniciada'}" class='alert alert-success'>Tarefa iniciada
        </div>
        <div align="center" class="mb-2 mt-4">
            <table class="table-striped table-bordered table-hover" style="width: 90%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Status</th>
                        <th>Responsável</th>
                        <th>Previsão início</th>
                        <th>Previsão fim</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tarefa: ${tarefas}">
                        <td th:text="${tarefa.id}" />
                        <td th:text="${tarefa.nome}" />
                        <td th:text="${tarefa.descricao}" />
                        <td th:text="${tarefa.status}" />
                        <td th:text="${tarefa.responsavel}" />
                        <td th:text="${tarefa.datainicio}" />
                        <td th:text="${tarefa.datafim}" />
                        <td align='center'>
                            <div class="row">
                                <div class='mb-2'>
                                    <form th:action="@{/iniciarTarefa}"  th:object="${tarefa}" method="post">
                                        <input type="hidden" name="id" th:value="${tarefa.id}" />
                                        <input type="submit" value="Iniciar" class="btn btn-success" />
                                    </form>
                                </div>
                                <div class='mb-2'>
                                    <form th:action="@{/deleteTarefa}"  th:object="${tarefa}" method="post">
                                        <input type="hidden" name="id" th:value="${tarefa.id}" />
                                        <input onclick="return confirm('Quer mesmo deletar?');" type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/tarefa" class="mt-4 mb-2" style='text-decoration: none'>Adicionar nova Tarefa</a>
        </div>
    </body>
</html>
